body {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100vh;
    font-family: 'Noto Sans', sans-serif;
}

.container{
    display:grid;
    height: 100vh;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
      "nav nav"
      "main sidebar"
      "footer footer";
    grid-gap: 0.2rem;
    text-align: left;
  }
  
  nav{
    background: #fff;
    grid-area: nav;
    font-size: 25px;
    padding: 20px 0px 10px 50px;
      
  }
  main{
    background: #ffffff;
    margin: 50px;
    grid-area: main;
  }
  #sidebar{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.3fr 0.3fr 2fr;
    grid-template-areas:
      "field1"
      "field2"
      "search"
      "results";
    background:#ffffff;
    border-left: 1px solid rgba(0,0,0,.1);
    grid-area: sidebar;
    
  }
  
  #sidebar form input[type=text] {
    border: 0;
    outline: none;
    color: #8b7d77;
    width: 80%;
    margin: 10px 5px 5px 10px;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(0,0,0,.1);
  }
  .start {
    grid-area: field1;
  }
  
  .destination {
    grid-area:field2;
  }
  
  #sidebar form button {
    grid-area: search;
    width: 90%;
    margin: 0px 2px 0px 10px;
    padding: 10px 15px;
    background: #122856;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #sidebar button:hover {
    background: #395583;
    transition: 0.3s;
  }
  
  ul{
    grid-area: results;
    margin: 0px auto;
    padding: 10px 0px 10px 0px;
    width: 80%;
    background: #fff; /* Check */
  }
  
  ul li {
    position: relative;
    list-style:none;
    padding: 0px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin: 10px auto;
  }
  
  ul li h3 {
    text-align:left;
  }
  ul li p {
    text-align: left;
  }
  
  footer{
    background:#ffffff;
    grid-area: footer;
    color:#C6C6CC;
    text-align: center;
    font-size: small;
  }

/* For Mobile Responsive */
@media only screen and (max-width:550px) {
    .container {
        grid-template-columns: 1fr;
        /* Only 1 column in mobile */
        grid-template-rows: 0.2fr 0.3fr 1fr 0.2fr;
        grid-template-areas:
            "nav"
            "sidebar"
            "main"
            "footer";
    }

    #sidebar {
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.3fr 0.3fr 1fr;
        grid-template-areas:
            "field1"
            "field2"
            "search"
            "results";
        background: #6fffd2;
        grid-area: sidebar;
    }

    ul {
        margin: 5px auto;
        padding: 5px;
        width: 80%;
        background: #fff;
        /* Check */
    }
    
    ul li {
        position: relative;
        list-style: none;
        padding: 0px 5px 0px 5px;
        margin: 5px auto;
    }

}